body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */
.header-info-right ul {
  list-style: none;
  display: flex;
}

nav a{
  margin-right: "2rem";
  color: white;
  font-weight: 300;
  text-decoration: none;
}

nav a:hover{
  color:white;
}

header {
  background-size: cover;
  background-attachment: fixed;
}

.seccion-categorias a {
  position:absolute;
  align-items: flex-end;
}



