server:
  port: 8081

#configurar url con una bds propia
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bd_bbmutti?createDatabaseIfNotExist=true&useSSL=false&useUnicode=yes&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&serverTimezone=UTC
    #url: jdbc:mysql://localhost:3306/bd_cordova?useSSL=false&serverTimezone=UTC
    #url: jdbc:mysql://localhost:3306/bd_cordova?createDatabaseIfNotExist=true&useSSL=false
    username: root
    password: 123456

    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    rest:
      base-path: /api

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect

    show-sql: true
    hibernate:
      ddl-auto: create-drop
